.btn-responsive {
  font-size: .7rem !important;
  padding: .7rem 1.6rem !important;

  @media (min-width: 768px) {
    font-size: .8rem !important;
    padding: .85rem 2.13rem !important;
  }
}

.btn[class*=btn-outline-] {
  padding-bottom: 0.66rem !important;
}

btn.disabled, .btn:disabled {
  opacity: .3;
}
