.tooltip {
  display: none;
  left: 10px !important;
  font-size: 10px;
  cursor: default;
  pointer-events: none;

  &:after {
    left: 5px;
  }

  .arrow:before {
    border-left-color: rgba(158,158,158, .1) !important;
  }

  .tooltip-inner {
    padding: 2px 6px;
    color: #90a4ae; // MDB blue-grey lighten-2
    background-color: rgba(158,158,158, .1) !important; // MDB rgba-grey-slight
  }

  @media (min-width: 768px) {
    display: block;
  }
}

#toast-container {
  font-size: 13px !important;

  & > div {
    padding-left: 45px !important;
    background-size: 18px 18px;
  }
}

.badge {
  text-indent: 0;
  line-height: 16px;
  padding: 2px 8px 2px;
}
