@import '_variables.scss';

.App {
  text-align: center;
  color: $textColor;

  & > .container { transition: .25s ease; }
  .empty-text { color: $textColorLight; }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
}

.card-header {
  height: 42px;
  padding: 0 10px 0 15px;
  line-height: 42px;
  font-weight: 700;
  text-align: left;
  letter-spacing: .65px;
  text-shadow: 1px 1px rgba(0,0,0, .2);
  cursor: default;

  a {
    float: right;
    text-shadow: none;
    opacity: .7;

    &:hover {
      text-shadow: 1px 1px rgba(0,0,0, .2);
      opacity: 1;
    }
  }

  &.employees-header { background: linear-gradient(40deg, #14dfc0, #6a00de); }
  &.clients-header { background: linear-gradient(40deg, #0fdac0, #0076de); }
  &.history-header { background: linear-gradient(40deg, #ba6eff, #3f56c8); }
}

.modal-header {
  text-shadow: 1px 1px rgba(0,0,0, .2);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;

  .modal-title {
    margin-bottom: 0 !important;
    font-size: 1rem;
  }

  .close {
    padding-right: 10px;
    cursor: pointer;
  }
}

.App-logo {
  position: relative;
  top: -2px;
  left: -2px;
  height: 25px;
  animation: App-logo-spin infinite 20s linear;
}

.navbar-brand { color: #FFF !important; }

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
