@import '_variables.scss';

.App {
  text-align: center;
  color: $textColor;

  & > .container {
    transition: .25s ease;
  }

  .empty-text {
    color: $textColorLight;
  }
}

.App-logo {
  position: relative;
  top: -2px;
  left: -2px;
  height: 25px;
  animation: App-logo-spin infinite 20s linear;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
