@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
/* @import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Roboto'); */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto Slab', sans-serif;
}

.green-gradient {
  background: linear-gradient(40deg, #14dfc0, #3a309f);
}

.purple-gradient {
  background: linear-gradient(40deg,#ba6eff,#4d6bff);
}

.navbar-dark {
  background-color: #243a51;
}

.table-wrapper {
  display: block;
  max-height: 300px;
  overflow-y: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

table {
  th, td {
    text-align: left;
    text-indent: 15px;
    padding-right: 5px !important;
    padding-left: 0 !important;
  }

  thead tr {
    line-height: 14px;

    th {
      font-size: 13px;
      font-weight: 700;
    }
  }

  tbody tr td {
    font-size: 12px;
  }
}
